.marquee {
    background-color: #212121;
    opacity: 1;
    background-image: linear-gradient(black 1.2px, transparent 1.2px),
        linear-gradient(90deg, black 1.2px, transparent 1.2px),
        linear-gradient(black 0.6px, transparent 0.6px),
        linear-gradient(90deg, black 0.6px, #212121 0.6px);
    background-size: 30px 30px, 30px 30px, 6px 6px, 6px 6px;
    background-position: -1.2px -1.2px, -1.2px -1.2px, -0.6px -0.6px,
        -0.6px -0.6px;
    color: white;
    height: 60px;
    width: 100vw;
    font-family: "Open Sans", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-weight: 800;
    vertical-align: middle;
}

.marquee-company {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    gap: 6px;
    flex-direction: row;
    vertical-align: middle;
}

.marquee-company > * {
    font-size: 28px;
    color: white;
}

.marquee-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 12px;
    flex-direction: row;
    vertical-align: middle;

    -moz-animation: marquee 30s linear infinite;
    -webkit-animation: marquee 30s linear infinite;
    animation: marquee 30s linear infinite;
}

.marquee-text {
    vertical-align: middle;
}

.marquee-company-ticker {
    color: cyan;
}

.marquee-company-price .marquee-text-difference {
    color: yellow;
}

.marquee-company-percentage--up {
    color: lime;
}
.marquee-company-difference--down,
.marquee-company-percentage--down {
    color: orangered;
}

@keyframes marquee {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}
