@media (max-width: 768px) {
    .div__search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        margin: 0 auto;
        height: 3.5em;
    }

    .input__stock-search {
        height: 100%;
        width: 14em;
        background-color: #f6f6f6;
    }

    .div__searchResultsCompanyChanges {
        flex-direction: column;
    }

    .logo {
        display: none;
    }
}
